<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Read a little about me</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center">
                    <p style="margin-bottom: 50px;">I am a graduate of San Jose State Univeristy with a B.S in Justice Studies. I picked up programming after graduation because of my interest in all things technology and immediately fell in love with it. Learning about the technologies that I have used my entire life and how to build my own really pulled me in. Outside of software development, I love sports and numbers so I often put these together when building something new. Other interests of mine include food and shoes.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-2 text-center">
                    <a href="{{ site.social[0].url }}" class="btn btn-social-icon btn-{{ site.social[0].title }}" target="_blank" style="color: #fff; background-color: #444;"><span class="fa fa-{{ site.social[0].title }} fa-2x"></span></a>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="{{ site.social[1].url }}" class="btn btn-social-icon btn-{{ site.social[1].title }}" target="_blank" style="color: #fff; background-color: #007bb6;"><span class="fa fa-{{ site.social[1].title }} fa-2x"></span></a>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </section>
